/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  transition: smooth;
}

header {
  display: none;
}

.white {
  width: 600px;
  height: 1px;
  background-color: white;
  margin-left: -500%;
  position: absolute;
  top: 60px;
}

#nyama {
  position: absolute;
  top: 15px;
  left: 30px;
  color: orangered;
  z-index: 1;
  font-family: papyrus;
}

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("./image/5f3b4d18e4c8b1ca2d05bce43706072f.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero h1 {
  color: white;
  font-size: 60px;
}
.hero .navv {
  position: absolute;
  top: 2px;
  right: 10px;
}
.hero .socials {
  display: none;
}
.hero #down {
  position: absolute;
  bottom: 15px;
}

.Story {
  text-align: center;
  padding-bottom: 40px;
}
.Story h2 {
  font-family: gotham;
  font-size: 30px;
  padding-top: 30px;
  padding-bottom: 20px;
}
.Story button {
  background-color: #e75317;
  color: white;
  border: 0px;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 20px;
}
.Story p {
  text-align: left;
}
.Story #fatty {
  width: 100%;
  margin-bottom: 10px;
}
.Story #fat {
  width: 100%;
  margin-bottom: 10px;
}

.Activities {
  display: none;
}

.active {
  text-align: center;
}
.active ourr {
  height: 70%;
  width: 100%;
}
.active h2 {
  padding-bottom: 20px;
  font-family: gotham;
}

.Wildlife {
  text-align: center;
  padding-bottom: 30px;
}
.Wildlife h2 {
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: gotham;
}
.Wildlife p {
  text-align: left;
}
.Wildlife img {
  width: 100%;
  padding-bottom: 10px;
}

.Suggested {
  text-align: center;
  padding-bottom: 40px;
}
.Suggested .info .orange {
  background-color: #e75317;
  color: white;
  padding: 20px;
  position: relative;
}
.Suggested .info .orange h3 {
  font-family: gotham;
  margin-bottom: 30px;
}
.Suggested .info .orange p {
  font-family: gotham;
  margin-bottom: 15;
  font-size: 20px;
  line-height: 30px;
}
.Suggested .info .orange ul {
  list-style-type: disc;
}
.Suggested .info .orange li {
  font-size: 20px;
  line-height: 30px;
}
.Suggested .info .orange .iddo img {
  width: 90%;
}
.Suggested .info hr {
  background-color: white;
  border: 1px solid white;
}
.Suggested .info .itenary {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Suggested .info h4 {
  font-family: gotham;
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 30px;
}
.Suggested .info .love {
  height: 50px;
  width: 30px;
  position: absolute;
  top: 0px;
  right: 10px;
  background-color: white;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Suggested .info .love img {
  width: 20px;
}
.Suggested .info tex {
  position: relative;
}
.Suggested .info texx {
  position: absolute;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.34);
  height: 100px;
  width: 100px;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-bottom: 50px;
}
.Suggested h2 {
  margin-bottom: 40px;
  font-size: 26px;
  font-family: gotham;
  text-align: center;
}

.Testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.Testimonials .haze {
  position: relative;
}
.Testimonials .tet {
  position: absolute;
  top: 0px;
  background-color: rgba(231, 82, 23, 0.2862745098);
  height: 100%;
  width: 100%;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-bottom: 30px;
}
.Testimonials .smile {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid orangered;
  text-align: center;
}
.Testimonials .smile hr {
  color: orangered;
  width: 40px;
  border: 1px solid orangered;
}
.Testimonials .smile .line {
  width: 100%;
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
}
.Testimonials .smile p {
  padding-top: 20px;
}
.Testimonials .smile #jem {
  width: 50%;
}
.Testimonials h2 {
  padding-bottom: 30px;
  font-family: gotham;
}

.Gallery {
  text-align: center;
  padding-bottom: 50px;
}
.Gallery img {
  margin-top: 20px;
  width: 100%;
  height: 40vh;
}
.Gallery h2 {
  padding-bottom: 30px;
  font-family: gotham;
}
.Gallery #boat img {
  width: 100%;
}
.Gallery .sun img {
  width: 100%;
}

footer {
  text-align: center;
  padding-left: 30px;
  padding-top: 30px;
  background-color: #e75317;
  color: white;
}
footer foots {
  padding-bottom: 30px;
}
footer button {
  background-color: rgb(0, 0, 0);
  border: 1px solid black;
  padding: 8px;
  color: white;
}
footer a {
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}
footer #sign {
  padding-bottom: 15px;
}
footer .area {
  position: relative;
}
footer .area input {
  height: 42px;
  border: 1px white;
  margin-bottom: 20px;
}
footer .foots {
  font-family: gotham;
}
footer .btn2 {
  position: absolute;
}

/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/
/* 
Extra small devices (portrait phones, less than 576px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/
/* Small devices (landscape phones, 576px and up) */
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  header {
    border-bottom: 1px solid white;
    display: block;
  }
  header .menu {
    position: absolute;
    top: 20px;
    right: 150px;
    z-index: 1;
  }
  header .menu a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-size: 20px;
    font-family: gotham;
  }
  header img {
    width: 40px;
    position: absolute;
    top: 25px;
    right: 40px;
    z-index: 1;
  }
  header #nyama {
    position: absolute;
    color: orangered;
    top: 15px;
    left: 60px;
    z-index: 1;
  }
  .hero {
    font-family: gotham;
    background-image: url("./image/zebra banner 2 1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
  }
  .hero .socials {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 40px;
    width: 24px;
  }
  .hero .socials img {
    margin-top: 35px;
  }
  .hero .socials #facebook {
    width: 17px;
  }
  .hero #down {
    position: absolute;
    bottom: 40px;
    width: 40px;
  }
  .hero .big {
    display: none;
  }
  .hero h1 {
    font-size: 100px;
    padding-bottom: 140px;
  }
  .hero .navv {
    display: none;
  }
  .Story {
    text-align: left;
    font-family: gotham;
  }
  .Story h2 {
    text-align: left;
    padding-bottom: 50px;
    padding-top: 80px;
  }
  .Story button {
    background-color: orangered;
    border: 0px;
    padding: 15px;
    color: white;
  }
  .Story #fatt {
    align-self: center;
    width: 30%;
  }
  .Story #fat {
    width: 70%;
  }
  .Activities {
    display: block;
    padding-bottom: 90px;
  }
  .Activities .act {
    padding-left: 100px;
  }
  .Activities h2 {
    padding-bottom: 80px;
    text-align: left;
    font-family: gotham;
  }
  .Activities h4 {
    display: block;
  }
  .Activities img {
    width: 18%;
  }
  .Activities h1 {
    font-size: 30px;
    color: burlywood;
    padding-top: 40px;
  }
  .Activities .set {
    display: flex;
    margin: 50px;
    margin-left: 5px;
  }
  .Activities .s {
    position: relative;
  }
  .Activities .s:hover p {
    display: contents;
  }
  .Activities .s:hover img {
    width: 100%;
  }
  .Activities img {
    width: 95%;
    padding-top: 20px;
  }
  .Activities img:hover {
    opacity: 0.9;
  }
  .Activities .text {
    position: absolute;
    z-index: 5;
    bottom: 20px;
    left: 10px;
    color: white;
    text-align: left;
  }
  .Activities p {
    display: none;
  }
  .active {
    display: none;
  }
  .Wildlife {
    padding-bottom: 80px;
  }
  .Wildlife h2 {
    text-align: left;
  }
  .Wildlife #gone {
    width: 17%;
    height: 20%;
    margin-right: 15px;
    padding-top: 70px;
  }
  .Wildlife #zom {
    width: 17%;
    height: 20%;
    margin-right: 15px;
    padding-top: 20px;
  }
  .Wildlife #bye {
    width: 17%;
    height: 20%;
    margin-right: 15px;
    padding-top: 130px;
  }
  .Wildlife .recent {
    display: flex;
  }
  .Wildlife #row {
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    margin-top: -145px;
  }
  .Wildlife #row img {
    width: 98%;
  }
  .Wildlife .container-fluid {
    width: 50%;
    margin-left: -10px;
  }
  .Wildlife #yawn {
    width: 18%;
    height: 45%;
  }
  .Wildlife .yawn {
    margin-top: -30px;
  }
  .Suggested {
    margin-bottom: 30px;
    font-family: gotham;
  }
  .Suggested h2 {
    text-align: left;
    margin-bottom: 40px;
    font-size: 25px;
  }
  .Suggested .info {
    display: flex;
    height: 100%;
  }
  .Suggested .info img {
    width: 50%;
  }
  .Suggested .info .orange {
    width: 50%;
    position: relative;
    background-color: #e75317;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: -15px;
  }
  .Suggested .info .orange h3 {
    margin-bottom: 10px;
    font-size: 20px;
  }
  .Suggested .info .orange p {
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 30px;
  }
  .Suggested .info .orange ul {
    list-style-type: disc;
  }
  .Suggested .info .orange li {
    font-size: 15px;
    line-height: 30px;
  }
  .Suggested .info hr {
    background-color: white;
    border: 1px solid white;
    width: 100%;
  }
  .Suggested .info .itenary {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .Suggested .info .itenary img {
    width: 20%;
  }
  .Suggested .info h4 {
    font-size: 15px;
  }
  .Suggested .tex {
    position: relative;
    height: 100%;
  }
  .Suggested .tex img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .Suggested .tex .texx {
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.212);
    height: 100%;
    width: 100%;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 50px;
  }
  .Testimonials {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }
  .Testimonials h2 {
    text-align: left;
    padding-top: 60px;
    padding-bottom: 50px;
  }
  .Testimonials .smile {
    margin: 0px;
    height: 100%;
  }
  .Testimonials .smile #jem {
    width: 30%;
  }
  .Testimonials .smile p {
    font-size: 15px;
    text-align: center;
  }
  .Testimonials .smile h3 {
    font-size: 15px;
    margin-top: -30px;
  }
  .Testimonials .smile .container {
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Testimonials .smile .container .line {
    height: 25px;
    width: 40%;
    margin-top: -60px;
  }
  .Testimonials .haze {
    position: relative;
  }
  .Testimonials .tet {
    position: absolute;
    top: 0px;
    background-color: rgba(231, 82, 23, 0.2862745098);
    height: 100%;
    width: 100%;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 30px;
  }
  .Testimonials .Gallery h2 {
    text-align: left;
  }
  .Testimonials .Gallery .truck img {
    height: 35.5vh;
    width: 55vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .Testimonials .Gallery .car img {
    height: 35.5vh;
    width: 110%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .Testimonials .Gallery #sun {
    height: 35.5vh;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .Testimonials .Gallery .sun img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .Testimonials .Gallery #boat img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .Testimonials footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .Testimonials footer h4 {
    font-size: 18px;
  }
  .Testimonials footer p {
    font-size: 13px;
  }
  .Testimonials footer a {
    font-size: 13px;
  }
  .Testimonials footer form {
    display: flex;
  }
  .Testimonials footer area button {
    padding: 8px;
    position: absolute;
  }
  .Testimonials footer area {
    position: relative;
  }
}
/* Large devices (desktops, 992px and up) */
/* Extra large devices (large desktops, 1200px and up) */
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/
/* Set width to make card deck cards 100% width *//*# sourceMappingURL=style.css.map */