

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
// Phone
html{ transition: smooth;}

header{ 
    display: none;
}
.white{ 
    width: 600px;
    height: 1px;
    background-color: white;
    margin-left: -500%;
    position: absolute;
    top: 60px;
}
#nyama{
    position: absolute;
    top: 15px;
    left: 30px;
    color: orangered;
    z-index: 1;
    font-family: papyrus;
}
.hero{ 
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("./image/5f3b4d18e4c8b1ca2d05bce43706072f.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    h1{ color: white; font-size: 60px;}
    .navv{
        position: absolute;
        top: 2px;
        right: 10px;
       }
    .socials{ display: none;}  
    #down{ 
        position: absolute;
        bottom: 15px;
    } 
   }

.Story{
    text-align: center;
    padding-bottom: 40px;
    h2{font-family: gotham; font-size: 30px; padding-top: 30px; padding-bottom: 20px;}
    button{ background-color: #e75317; color: white; border: 0px; border-radius: 3px; padding: 10px; margin-bottom: 20px;}
    p{text-align: left;}
    #fatty{ width: 100%; margin-bottom: 10px;}
    #fat{ width: 100%; margin-bottom: 10px;}
}
.Activities{
       display: none;
}
.active{
    text-align: center;
    ourr{
        height: 70%;
        width: 100%;
    }
    h2{
        padding-bottom: 20px;
        font-family: gotham;
    }
}
.Wildlife{
    text-align: center;
    h2{ padding-top: 40px; padding-bottom: 40px; font-family: gotham;}
    p{ text-align: left;}
    img{ width: 100%; padding-bottom: 10px;}
    padding-bottom: 30px;
}
.Suggested{ text-align: center;
    .info{
            .orange{ background-color: #e75317; color: white; padding: 20px; position: relative;
                h3{ font-family: gotham; margin-bottom: 30px;}
                p{ font-family: gotham; margin-bottom: 15; font-size: 20px; line-height: 30px;}
                ul{ list-style-type: disc;}
                li{ font-size: 20px; line-height: 30px;}
                .iddo img{ width: 90%;}
                }
                hr{ background-color: white; border: 1px solid white;}
                .itenary{ display: flex; justify-content: space-between; align-items: center;}
                h4{ font-family: gotham; margin-bottom: 15px; font-size: 20px; line-height: 30px;}
            .love{ 
                img{width: 20px;}
            height: 50px;width: 30px;
            position: absolute;top: 0px;
            right: 10px;
            background-color: white;
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items:center;
            }
            tex{
                position: relative;
            }
            texx{
                position: absolute;
                top: 0px;
                background-color: rgba(0, 0, 0, 0.34);
                height: 100px;
                width: 100px;
                text-align: center;
                color: white;
                display: flex;
                flex-direction: column;
                justify-content: end;
                padding-bottom: 50px;
            }
    }
    h2{ margin-bottom: 40px; font-size: 26px; font-family: gotham; text-align: center;}
    padding-bottom: 40px;
}
.Testimonials{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .haze{
        position: relative;
    }
    .tet{
        position: absolute;
        top: 0px;
        background-color: #e7521749;
        height: 100%;
        width: 100%;
        text-align: center;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: end;
        padding-bottom: 30px;
    }
    .smile{
        margin-top: 20px;
        margin-bottom: 20px;
        border: 1px solid orangered;
        text-align: center;
        hr{ color: orangered; width: 40px; border: 1px solid orangered;}
        .line{ width: 100%; text-align: center; height: 100%; display: flex; justify-content: center;}
        p{ padding-top: 20px;}
        #jem{ width: 50%;}
    }
    margin-bottom: 50px;
    h2{ padding-bottom: 30px; font-family: gotham;}
}
.Gallery{ 
    img{margin-top: 20px; 
        width: 100%;
        height: 40vh;
    }
    text-align: center;
    h2{padding-bottom: 30px;font-family: gotham;}
    #boat img{
        width: 100%;
    }
    .sun img{width: 100%;}
    padding-bottom: 50px;
}

footer{  
    text-align: center;
    padding-left: 30px;
    padding-top: 30px;
    foots{ padding-bottom: 30px;}
    button{ background-color: rgb(0, 0, 0); border: 1px solid black; padding: 8px; color: white;}
    a{ color: white; text-decoration: none; display: flex; flex-direction: column;}
    #sign{ padding-bottom: 15px;}
    background-color: #e75317; 
    color: white;
    .area{
        position: relative;
        input{
            height: 42px;
            border: 1px white;
            margin-bottom: 20px;
        }
    }
    .foots{
        font-family: gotham;
    }
   .btn2{position: absolute;} 
}
    


/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/

/* 
Extra small devices (portrait phones, less than 576px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 568px) {  

}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) { 

    header{
        border-bottom: 1px solid white;
        display: block;
        .menu{ position: absolute;
        top: 20px;
        right: 150px;
        z-index: 1;
        a{ color: white; text-decoration: none; margin-right: 20px; font-size: 20px; font-family: gotham;}
        }
        img{ 
            width: 40px;
            position: absolute;
            top: 25px;
            right: 40px;
            z-index: 1;
        }
        #nyama{ 
            position: absolute;
            color: orangered;
            top: 15px;
            left: 60px;
            z-index: 1;
        }
    }
    .hero{  font-family: gotham;
            background-image: url("./image/zebra\ banner\ 2\ 1.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            justify-content: center;
            align-items: center;
            .socials{
                display: flex;
                flex-direction: column;
                position: absolute;
                right: 40px;
                width: 24px;
                img{ margin-top: 35px;}
                #facebook{ width: 17px;}
            }
            #down{ 
                position: absolute;
                bottom: 40px;
                width: 40px;
            }
            .big{display: none;}
			h1{ font-size: 100px; padding-bottom: 140px;}
            .navv{ display: none;}
            margin-bottom: 60px;	
		} 

    .Story{ text-align: left; font-family: gotham;
        h2{ text-align: left; padding-bottom: 50px; padding-top: 80px;}
        button{ background-color: orangered; border: 0px; padding: 15px; color: white; }
        #fatt{ align-self: center; width: 30%;}
        #fat{ width: 70%;}
    } 
    .Activities{  display: block; padding-bottom: 90px;
        .act{ padding-left: 100px;}
        h2{padding-bottom: 80px;text-align: left;font-family: gotham;}
        h4{display: block;}
        img{width: 18%;}
		h1{ font-size: 30px; color: burlywood; padding-top: 40px;}
		.set{ display: flex; margin: 50px; margin-left: 5px;}
		.s{ position: relative;}
        .s:hover{
            p{ display: contents;}
            img{ width: 100%;}
         }
		 img{ width: 95%; padding-top: 20px;}
         img:hover{ opacity: 0.9;}
		.text{ position: absolute; z-index: 5; bottom: 20px; left: 10px; color: white; text-align: left;}
        p{ display: none;}  
	} 
    .active{ display: none;}
    .Wildlife{ 
            padding-bottom: 80px;
            h2{ text-align: left;} 
            #gone{width: 17%;height: 20%;margin-right: 15px;padding-top: 70px;}
            #zom{width: 17%;height: 20%;margin-right: 15px;padding-top: 20px;}
            #bye{width: 17%;height: 20%;margin-right: 15px;padding-top: 130px;}
            .recent{display: flex;}
            #row{
                margin-right: 15px;
                display: flex;
                flex-direction: column;
                img{width: 98%;}
                margin-top: -145px;
            }
            .container-fluid{
                width: 50%;
                margin-left: -10px;
            }
            #yawn{ width: 18%;height: 45%;}
            .yawn{ margin-top: -30px;}
    } 

    .Suggested{ 
        margin-bottom: 30px; font-family: gotham;
        h2{ text-align: left;margin-bottom: 40px;font-size: 25px;}
        .info{display: flex; height: 100%; 
            img{ width: 50%;}
            .orange{
                width: 50%; 
                position: relative;
                background-color: #e75317; color: white; padding: 20px; display: flex; flex-direction: column; justify-content: center;
                h3{ margin-bottom: 10px; font-size: 20px;}
                p{ margin-bottom: 10px; font-size: 15px; line-height: 30px;}
                ul{ list-style-type: disc;}
                li{ font-size: 15px; line-height: 30px;}
                margin-left: -15px;
                }
                hr{ background-color: white; border: 1px solid white; width: 100%;}
                .itenary{ 
                    display: flex; justify-content: space-between; align-items: center;
                    img{ width: 20%;}
                }
                h4{font-size: 15px;}
    }
        .tex{ position: relative; height: 100%;
            img{ height: 100%; object-fit: cover;}
            .texx{ position: absolute; top: 0; background-color: rgba(0, 0, 0, 0.212); height: 100%; width: 100%; color: white; text-align: center; display: flex; flex-direction: column; justify-content: end; padding-bottom: 50px;}
        }
 }

.Testimonials{
    display: flex; 
    justify-content: center;
    text-align: center;
    flex-direction: column;
    h2{ text-align: left;padding-top: 60px;padding-bottom: 50px;}
    .smile{ margin: 0px; height: 100%; 
    #jem{ width: 30%;} 
    p{font-size: 15px;text-align: center;}
    h3{font-size: 15px;margin-top: -30px;} 
    .container{ 
        height: 10vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .line{height: 25px;width: 40%; margin-top: -60px;} 
    }
        }
        .haze{
            position: relative;
        }
        .tet{
            position: absolute;
            top: 0px;
            background-color: #e7521749;
            height: 100%;
            width: 100%;
            text-align: center;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: end;
            padding-bottom: 30px;

   }
.Gallery{ 
    h2{text-align: left;}
    .truck img{
        height: 35.5vh;
        width: 55vh;
        object-fit: cover;
    }
    .car img{height: 35.5vh;width: 110%;object-fit: cover;}
    #sun{height: 35.5vh;width: 100%;object-fit: cover;}
    .sun img{object-fit: cover;}
    #boat img{object-fit: cover;}
}
footer{ 
    width: 100%;
    display:flex; 
    justify-content:space-around;
    h4{ font-size: 18px;}
    p{ font-size: 13px;}
    a{ font-size: 13px;}
    form{ display: flex;}
    area button{ padding: 8px; position: absolute;}
    area{ position: relative;}

}
}
}


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    
}



/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/

/* Set width to make card deck cards 100% width */
@media (max-width: 950px) { 

}
